<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358671389648-h2lp9isvtddhe3pdpiu9dqd681h20g5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358671389648-h2lp9isvtddhe3pdpiu9dqd681h20g5o</string>
	<key>API_KEY</key>
	<string>AIzaSyC_8SY7mlP5CvP3TjhSFX1ZLAJX5FIi4Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>358671389648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-ignite</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-ignite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358671389648:ios:627d3ef4666bb6934b1fd5</string>
</dict>
</plist>